<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Text Utils</title>
  </head>
  <body>
    <h1>Welcome to the text analyazer. Enter your text below</h1>
    <form action="/analyze" method="get">
      <textarea
        name="text"
        style="margin: 0px; width: 721px; height: 93px"
      ></textarea>
      <br> </>
      <input type="checkbox" class="form-check-input" id="exampleCheck1" name="removepunc" >Remove Punctuation </input>
      <input type="checkbox" class="form-check-input" id="exampleCheck1" name="allcaps" >All Capitalized </input>
      <input type="checkbox" class="form-check-input" id="exampleCheck1" name="lineremo" >New Line Character Remover</input>
      <input type="checkbox" class="form-check-input" id="exampleCheck1" name="exspre" >Extra space Remover</input>
      <br> </>
      <button type="submit">Analyze Text</button>
    </form>
  </body>
</html>
